.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    gap: var(--gap-lg);
    width: 100%;
}

.subscribe-form-email {
    gap: 8px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.subscribe-form-email-label {
    display: block;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    line-height: calc(21 /14);
    letter-spacing: -0.013em;
}

.subscribe-form-email-input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: var(--surface-2);
    color: var(--btn-fg-primary);
    border: 1px solid var(--btn-border-primary);
    border-radius: var(--btn-corner-radius);
    font-size: var(--font-size-sm);
    line-height: 21px;
    caret-color: var(--accent-1);
    appearance: none;
    outline: none;
}

.subscribe-form-user-created {
    display: block;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    line-height: calc(21 /14);
    letter-spacing: -0.013em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subscribe-form-button {
    background: var(--btn-bg-primary);
    color: var(--btn-fg-primary);
    border: 1px solid var(--btn-border-primary);
    border-radius: var(--btn-corner-radius);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: all 0.3s ease;
    height: var(--btn-height);
    width: max-content;
    padding: var(--btn-padding);
}