# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*.local
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.jks
*.p12
*.bak
*.backup
*.zip
*.tar.gz
*.tgz
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.db3
*.sublime-workspace
*.sublime-project
*.code-workspace
*.sln
